.field.field_type-ppb-business-pack-pro span label input {
	display: none;
}
.field.field_type-ppb-business-pack-pro span label {
	width: auto;
	margin: 0;
	padding: 7px 12px;
	border-radius: 5px;
	margin: 5px;
	background: #eee;
}

.field.field_type-ppb-business-pack-pro span + span {
	text-align: center;
}

.ppb-tabs-panel .field .ppb-biz-ta-section-fields {
	padding:5px;
	display:none;
}

.ppb-tabs-panel .field .ppb-biz-ta:checked ~ .ppb-biz-ta-section-fields {
	display:block;
}

.ppb-biz-ta-section-fields button {
	display: block !important;
	margin: auto !important;
	max-width: 115px;
}

.ppb-biz-ta-section-fields textarea {
	height: 7em;
}

.field.field_type-ppb-business-pack-pro section * {
	width: 100%;
}

.field.field_type-ppb-business-pack-pro section > div {
	position: relative;
}

.field.field_type-ppb-business-pack-pro section .fa {
	position: absolute;
	right: 0;
	margin: 1em 1.6em;
	width: auto;
	cursor: pointer;
}

.ppb-biz-ta-section-fields div {
	padding:14px 7px 0;
	max-width: 50%;
}
